@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@config "../tailwind.config.js";

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid theme("colors.blue.900");
  border-right-color: theme("colors.blue.200");
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
